/* .updateall{
    z-index: 2200;
} */
.clausesection{
    min-width:100%;
}
.updateclausesection{
    min-height:100vh;
}
.updateclausesection .nav-pills .nav-link{
    background-color: transparent ;
    color: var(--black) ;
    border-radius: 0 ;
    border-bottom: 1px solid transparent ;
}
.updateclausesection .nav-pills .nav-link.active{
    background-color: transparent ;
    color: var(--blue1) ;
    border-radius: 0 ;
    border-bottom: 2px solid var(--blue1) ;
}

.clause_nature .active{
    border: 1px solid var(--blue1) !important;
    color: var(--blue1) !important;
    background-color: var(--blue13) !important;
}
.clause_nature .active input{
    color: var(--blue1) !important;
    background-color: var(--blue13) !important;
}
.clause_nature .active input:focus{
    color: var(--blue1) !important;
    background-color: var(--white) !important;
}